---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  
  <p>
    I am a Ph.D. candidate majoring in CS at UC San Diego, 
    advised by Professor <a href="https://datascience.ucsd.edu/people/rajesh-gupta/">Rajesh Gupta</a> and Professor <a href="https://shangjingbo1226.github.io">Jingbo Shang</a>. 
    
  </p>  
  
  <p>  
    My research interests focus on applying machine learning to IoT data, particularly dealing with real-world challenges in deployment including data collectio, training, evaluation etc.
  </p>

</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>
  {% for paper in site.data.publications.papers %}
  <div class="paper">
      <div class="row">
          <div class="four columns">
              <div class="paper-img">
                  <img src='{{ site.baseurl }}{{ paper.image }}' width="100%">
              </div>
          </div>
          <div class="eight columns">
              <!--               <div class="vertical-center"> -->
              <p class="title"><b>{{ paper.title }}</b></p>
              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i></p>
              <p style="color: #b40c54;">{{ paper.award }}</p>
             
              <div class="paper-buttons">
                {% if paper.paper_pdf %}
                  <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
                {% endif %}
   
                {% if paper.website %}
                  <a class="button" href="{{ paper.website }}" target="_blank">Website</a>
                {% endif %}
   
                {% if paper.code %}
                  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}
   
                {% if paper.poster %}
                  <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
                {% endif %}
   
                {% if paper.slide %}
                  <a class="button" href="{{ paper.slide | prepend: site.baseurl }}" target="_blank">Slide</a>
                {% endif %}
   
                {% if paper.video %}
                  <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
                {% endif %}

                {% if paper.pkg %}
                  <a class="button" href="{{ paper.pkg }}" target="_blank">Package</a>
                {% endif %}

                {% if paper.ckpt %}
                  <a class="button" href="{{ paper.ckpt }}" target="_blank">Checkpoint</a>
                {% endif %}
                
              </div>
              <!--               </div> -->
          </div>
      </div>
  </div>
  {% endfor %}
  <!--    </div>
    </div> -->
</div>
 
<!-- 
<div class="docs-section" id="publications">
  <h4>Publications</h4>
  
  <div class="tab-content">
     {% for paper in site.data.publications.papers %}
        <div class="paper">
        	
           <div class="paper-img">
           	 {% if paper.image %}
           	   <a href="{{ paper.url }}">
           	    <img src="{{ paper.image }}" align="left" border=0 position="absolute" width="300" height="110" hspace=20/>
               </a>
           	 {% endif %}
           </div>
           
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
                     
           <div class="paper-buttons">
             {% if paper.paper_pdf %}
               <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
             {% endif %}

             {% if paper.website %}
               <a class="button" href="{{ paper.website }}" target="_blank">Website</a>
             {% endif %}

             {% if paper.code %}
               <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
             {% endif %}

             {% if paper.poster %}
               <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
             {% endif %}

             {% if paper.slide %}
               <a class="button" href="{{ paper.slide | prepend: site.baseurl }}" target="_blank">Slide</a>
             {% endif %}

             {% if paper.video %}
               <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
             {% endif %}
             
           </div>
        </div>
     {% endfor %}

  </div>
</div> 
-->

<!-- ========== Awards ========== -->
<div class="docs-section" id="awards">
  <h4>Awards</h4>
  
  <p>
  <a href="https://today.ucsd.edu/story/halcolu-data-science-institute-hdsi-announces-data-planet-fellows"> UCSD DataPlanet Fellowship</a>, 2023 - 2024 <br/>
  SenSys Travel Grant</a>, 2021 <br/>
  Academic Excellence Award, Peking University</a>, 2017 <br/>
  Academic Excellence Award, Peking University</a>, 2016 <br/>
  </p>

</div>

<!-- ========== MISC ========== -->
<div class="docs-section" id="services">
  <h4>Services</h4>
  
  <p>
    <b>Conference Reviewer</b>: KDD'24, AAAI'23'24, WWW'24'25 <br/>
    <b>Journal Reviewer</b>:  ACM Transactions on Intelligent Systems and Technology (TIST) <br/>
  </p>

  <p>
    <b>Teaching</b>: TA for CSE 158A: Web Mining and Recommender Systems <br/>
  </p>

</div>


  <h4>Acknowledgement</h4>
    <p>
      This website design is based on the template from <a href="https://github.com/msaveski/www_personal">Martin Saveski</a> and the edit from <a href="https://github.com/xiyuanzh/xiyuanzh.github.io">Xiyuan Zhang</a>.
    </p>
